<?xml version="1.0" encoding="UTF-8"?>
<course id="1" contextid="1">
  <shortname>{{course_title_short}}</shortname>
  <fullname>{{course_title_full}}</fullname>
  <idnumber></idnumber>
  <summary></summary>
  <summaryformat>1</summaryformat>
  <format>topics</format>
  <showgrades>0</showgrades>
  <newsitems>5</newsitems>
  <startdate>1465254000</startdate>
  <marker>0</marker>
  <maxbytes>0</maxbytes>
  <legacyfiles>0</legacyfiles>
  <showreports>0</showreports>
  <visible>1</visible>
  <groupmode>0</groupmode>
  <groupmodeforce>0</groupmodeforce>
  <defaultgroupingid>0</defaultgroupingid>
  <lang></lang>
  <theme></theme>
  <timecreated></timecreated>
  <timemodified></timemodified>
  <requested>0</requested>
  <enablecompletion>0</enablecompletion>
  <completionnotify>0</completionnotify>
  <numsections>{{sections_count}}</numsections>
  <hiddensections>0</hiddensections>
  <coursedisplay>0</coursedisplay>
  <category id="1">
    <name></name>
    <description></description>
  </category>
  <tags>
  </tags>
</course>