<?xml version="1.0" encoding="UTF-8"?>
<files>
  {{#files}}
  <file id="{{fileid}}">
    <contenthash>{{file_hash}}</contenthash>
    <contextid>{{contextid}}</contextid>
    <component>mod_page</component>
    <filearea>content</filearea>
    <itemid>0</itemid>
    <filepath>/</filepath>
    <filename>{{filename}}</filename>
    <userid>2</userid>
    <filesize></filesize>
    <mimetype>image/jpg</mimetype>
    <status>0</status>
    <timecreated>1465221764</timecreated>
    <timemodified>1465221764</timemodified>
    <source></source>
    <author></author>
    <license>allrightsreserved</license>
    <sortorder>0</sortorder>
    <repositorytype>$@NULL@$</repositorytype>
    <repositoryid>$@NULL@$</repositoryid>
    <reference>$@NULL@$</reference>
  </file>
  {{/files}}
</files>