<?xml version="1.0" encoding="UTF-8"?>
<section id="{{id}}">
  <number>{{number}}</number>
  <name>{{name}}</name>
  <summary>{{name}}</summary>
  <summaryformat>1</summaryformat>
  <sequence>1</sequence>
  <visible>1</visible>
  <availabilityjson>$@NULL@$</availabilityjson>
</section>