<?xml version="1.0" encoding="UTF-8"?>
<activity id="{{id}}" moduleid="{{id}}" modulename="page" contextid="{{id}}">
  <page id="1">
    <name>{{title}}</name>
    <intro></intro>
    <introformat>1</introformat>
    <content>{{content}}</content>
    <contentformat>1</contentformat>
    <legacyfiles>0</legacyfiles>
    <legacyfileslast>$@NULL@$</legacyfileslast>
    <display>5</display>
    <displayoptions>a:2:{s:12:"printheading";s:1:"1";s:10:"printintro";s:1:"0";}</displayoptions>
    <revision>3</revision>
    <timemodified>1465277260</timemodified>
  </page>
</activity>