<?xml version="1.0" encoding="UTF-8"?>
<module id="{{id}}" version="2016052300">
  <modulename>page</modulename>
  <sectionid>{{sectionid}}</sectionid>
  <sectionnumber>{{sectionid}}</sectionnumber>
  <idnumber></idnumber>
  <added>1465221798</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>1</showdescription>
  <tags>
  </tags>
</module>