<?xml version="1.0" encoding="UTF-8"?>
<moodle_backup>
  <information>
    <name></name>
    <moodle_version>2016052300.02</moodle_version>
    <moodle_release>3.1+ (Build: 20160603)</moodle_release>
    <backup_version>2016052300</backup_version>
    <backup_release>3.1</backup_release>
    <backup_date></backup_date>
    <mnet_remoteusers>0</mnet_remoteusers>
    <include_files>1</include_files>
    <include_file_references_to_external_content>0</include_file_references_to_external_content>
    <original_wwwroot>http://localhost/moodle</original_wwwroot>
    <original_site_identifier_hash>3da060817802733f183ef38e9bee5c77</original_site_identifier_hash>
    <original_course_id>1</original_course_id>
    <original_course_format>topics</original_course_format>
    <original_course_fullname></original_course_fullname>
    <original_course_shortname></original_course_shortname>
    <original_course_startdate>1465254000</original_course_startdate>
    <original_course_contextid>1</original_course_contextid>
    <original_system_contextid>1</original_system_contextid>
    <details>
      <detail backup_id="f8c041705f5901c336bd6d49e6b2bf79">
        <type>course</type>
        <format>moodle2</format>
        <interactive>1</interactive>
        <mode>10</mode>
        <execution>1</execution>
        <executiontime>0</executiontime>
      </detail>
    </details>
    <contents>
      <activities>
        {{#sessions}}
        <activity>
          <moduleid>{{sessionid}}</moduleid>
          <sectionid>{{sectionid}}</sectionid>
          <modulename>page</modulename>
          <title>{{title}}</title>
          <directory>{{session_directory}}</directory>
        </activity>
        {{/sessions}}
      </activities>
      <sections>
        {{#sections}}
        <section>
          <sectionid>{{sectionid}}</sectionid>
          <title>0</title>
          <directory>{{section_directory}}</directory>
        </section>
        {{/sections}}
      </sections>
      <course>
        <courseid>1</courseid>
        <title></title>
        <directory>course</directory>
      </course>
    </contents>
    <settings>
      <setting>
        <level>root</level>
        <name>filename</name>
        <value>backup-moodle2-course-2-test-20160607-0730-nu.mbz</value>
      </setting>
      <setting>
        <level>root</level>
        <name>imscc11</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>users</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>anonymize</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>role_assignments</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>activities</name>
        <value>1</value>
      </setting>
      <setting>
        <level>root</level>
        <name>blocks</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>filters</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>comments</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>badges</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>calendarevents</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>userscompletion</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>logs</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>grade_histories</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>questionbank</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>groups</name>
        <value>0</value>
      </setting>
      <setting>
        <level>root</level>
        <name>competencies</name>
        <value>0</value>
      </setting>
      <setting>
        <level>section</level>
        <section>section_1</section>
        <name>section_1_included</name>
        <value>1</value>
      </setting>
      <setting>
        <level>section</level>
        <section>section_1</section>
        <name>section_1_userinfo</name>
        <value>0</value>
      </setting>
    </settings>
  </information>
</moodle_backup>